.desktop-view {
  .vmo {
    display: none;
  }
}

.mobile-view {
  .vdo {
    display: none;
  }
}

// whitespace
  .desktop-view:not(.anon) {
    .last-custom-icon {
      margin-right: 2.5em;
    }
    &.rtl {
      .last-custom-icon {
        margin-right: 0;
        margin-left: 2.5em;
      }
    }
  }

@if $hide_alerts == "true" {
  #global-notice-alert-wizard,
  #global-notice-alert-bootstrap-mode,
  .profiler-results,
  .alert.consent_banner,
  .alert.alert-too-few-topics {
    display: none;
  }
}
