.desktop-view {
  .vmo {
    display: none;
  }
}

.mobile-view {
  .vdo {
    display: none;
  }
}

@if $hide_alerts == "true" {
  #global-notice-alert-wizard,
  #global-notice-alert-bootstrap-mode,
  .profiler-results,
  .alert.consent_banner,
  .alert.alert-too-few-topics {
    display: none;
  }
}